body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

#addContent, #searchContent {
  /* transition: width 220ms cubic-bezier(0.91, 0.23, 0.3, 1) */
  animation-duration: 220ms;
  animation-timing-function:cubic-bezier(0.91, 0.23, 0.3, 1);

}

.transition {
  transition: all 0.15s cubic-bezier(0.91, 0.23, 0.3, 1)
}


.rotate--45 {
  transform: rotate(-45deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

input:focus, button:focus, select:focus, [contenteditable] {
  outline: 0!important
}
